Source: libwtclasses
Priority: extra
Maintainer: Boris Nagaev <bnagaev@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libboost-filesystem-dev (>= 1.42),
 libwt-dev (>= 3.1.2), libwthttp-dev, libwtdbo-dev,
 cmake (>= 2.6),
 libssl-dev | libwt-dev (>= 3.2.1),
 python-docutils,
 doxygen,
 python
Standards-Version: 3.8.4
Section: libs
Homepage: https://bitbucket.org/starius/wt-classes

Package: libwtclasses-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libwtclasses11 (= ${binary:Version}), libwt-dev
Description: utility classes used by Wt applications [development]
 The package provides several useful classes connected with Wt:
  * TableForm: set of user input widgets, with names and descriptions
  * Wbi: web-based interface of a program
  * Time-related code
  * URL-related code
  * Notification server
  * Tools to protect the application from misuse
  * Random numbers
  * Bindings to non-Wt code

Package: libwtclasses11
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 libwt-common (>= 3.1.2)
Recommends: libjs-yui (>= 2.8.0)
Description: utility classes used by Wt applications [runtime]
 The package provides several useful classes connected with Wt:
  * TableForm: set of user input widgets, with names and descriptions
  * Wbi: web-based interface of a program
  * Time-related code
  * URL-related code
  * Notification server
  * Tools to protect the application from misuse
  * Random numbers
  * Bindings to non-Wt code

Package: libwtclasses
Section: libs
Architecture: any
Depends: ${misc:Depends}, libwtclasses11
Description: utility classes used by Wt applications
 This package is a dependency package.

Package: libwtclasses-examples
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwtclasses11,
 libjs-yui (>= 2.8.0)
Description: utility classes used by Wt applications [examples]
 The package contains examples of using wt-classes library:
 * xxd-wt: web interface for xxd program

Package: libwtclasses-doc
Section: doc
Architecture: any
Depends: ${misc:Depends}
Recommends: doc-base
Suggests: libwtclasses-dev
Description: utility classes used by Wt applications [doc]
 The package contains documentation.

Package: wtclasses-progs
Section: devel
Architecture: any
Depends: ${python:Depends}, ${misc:Depends},
 python2.7 | python (>= 3.1) | python-argparse
Description: Wt application developer helpers
 The package contains programs connected with using Wt:
 * locales-test: checks xml-based localizations used by Wt apps

